{% extends  "base-layout.html.twig" %}

{% block content %}
    <ul>
        {%  for item in persons %}
            <li>{{ item }}</li>
        {% else %}
            <p>vide</p>
        {% endfor %}
    </ul>
{% endblock %}